/* Estilos de pagina de viajes 
*{
    outline: solid black;
}
*/
body { /* seleccion de body */
font-family: Arial, Helvetica, sans-serif ; /* cambia tipografia */
margin: 0; /* elimina todo el margen predefinido */
padding: 0; /* elimina todo el relleno de los elementos */
}
/* Acas viene el estilo de una clase container */
.container {
    width: 80%; /* Establece el ancho del contenedor en un 80& */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
}
/* Estilo de encabezado */
head {
    background-color: #333; /* Establece el color de fondo */
    color: #fff; /* Establece el color del texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}

header h1{
    margin: 0; /* Elimina el margen por defecto del titulo */
}
/* Estilo de elemento de lista */
nav ul li{
    display: inline; /* Alinea los elementos */
    margin-right: 20px; /* Margen hacia la derecha */
}
/* Estilo a elementos de vinculo ancla de navegacion */
nav ul li a{
    color: #fff; /* color a elemento anchor */
    text-decoration: none; /* quita subrayado de enlaces */
}

section {
    padding: 40px; /* Añade relleno superior e inferior */
}

#banner{
    background-image: url('https://via.placeholder.com/1500x500'); /* Establece la imagen del fondo del banner */
    background-size: cover; /* Ajusta la imagen al area del banner */
    color: #fff; /* Establece color del texto */
    text-align: center; /* Centra el texto del banner */
    padding: 100px 0; /* Define relleno superior e inferior */
}
#banner h2{
    font-size: 36px; /* Establece tamaño de h2 */
}
#banner p{
    font-size: 18px; /* Establece tamaño de p */
    margin-bottom: 20px; /* Define margen inferior */
}

.btn{
    background-color: #007bff; /* color fondo del boton */
    color: #fff; /* color del texto del boton */
    padding: 10px 20px; /*relleno del boton */
    text-decoration: none; /* decoracion de enlace */
}
/* Estilo cuando pasa mouse sobre el boton */
.btn:hover{
    background-color: #0056b3;
}
footer{
    background-color: #333;
    text-align: center;
    padding: 20px 0;
}